.heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 96px;
  text-align: center;
  @media screen and (max-width: $small-screen) and (min-width: $x-small-screen) {
    margin-top: 33px;
    padding: 31px;
  }

  h1 {
    font-weight: 700;
    font-size: 48px;
    @media screen and (max-width: $mediam-screen) and (min-width: $small-screen) {
      font-size: 36px;
    }
  }

  p {
    margin-top: 8px;
    color: #374151;
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    @media screen and (max-width: $mediam-screen) and (min-width: $small-screen) {
      padding: 18px;
    }
  }
}

.pargraphs {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 96px;
  @media screen and (max-width: $mediam-screen) and (min-width: $small-screen) {
    gap: 0px;
    justify-content: space-evenly;
  }
  @media screen and (max-width: $small-screen) and (min-width: $x-small-screen) {
    justify-content: center;
    padding: 13px;
  }

  img {
    width: 32px;
    height: 32px;
  }

  .box {
    max-width: 305px;
    width: 100%;
    h1 {
      color: #111827;
      font-size: 30px;
      margin-top: 24px;
    }

    p {
      line-height: 24px;
      font-weight: 400;
      font-size: 16px;
      color: #374151;
    }
  }
}
