* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #374151;
$secondary-color: #ffffff;
$heading-color: #111827;
$large-screen: 1320px;
$mediam-screen: 1020px;
$small-screen: 786px;
$x-small-screen: 375px;
