.least {
  display: flex;
  align-items: center;
  justify-content: space-around;
  @media screen and (max-width: $mediam-screen) and (min-width: $small-screen) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (max-width: $small-screen) and (min-width: $x-small-screen) {
    flex-wrap: wrap;
  }

  .years {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @media screen and (max-width: $mediam-screen) and (min-width: $small-screen) {
      align-items: center;
    }
    @media screen and (max-width: $small-screen) and (min-width: $x-small-screen) {
      text-align: center;
      padding: 15px;
    }

    h1 {
      font-weight: 700;
      font-size: 40px;
      line-height: 60px;
      letter-spacing: -0.025em;
      color: $heading-color;
      @media screen and (max-width: $mediam-screen) and (min-width: $small-screen) {
        font-size: 36px;
      }
      @media screen and (max-width: $small-screen) and (min-width: $x-small-screen) {
        font-size: 26px;
      }
    }

    p {
      font-size: 16px;
      line-height: 28px;
      color: $heading-color;
    }
  }
}

.lines {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  margin-top: 33px;
  @media screen and (max-width: $mediam-screen) and (min-width: $small-screen) {
    margin-top: 33px;
    margin-bottom: 20px;
  }

  .one {
    display: flex;
    column-gap: 20px;

    .phase {
      // @include phase();
      @media screen and (max-width: $mediam-screen) and (min-width: $small-screen) {
        width: 266px;
      }
    }
  }
  .two {
    display: flex;
    column-gap: 20px;
    .phase {
      // @include phase();
      @media screen and (max-width: $mediam-screen) and (min-width: $small-screen) {
        width: 266px;
      }
    }
  }
}
