* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1020px) and (min-width: 786px) {
  .container {
    max-width: 850px;
    width: 100%;
  }
}

.bg-img {
  background-image: url("/images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  padding-top: 26px;
  justify-content: space-between;
}
.navbar .item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .navbar .item img {
    padding-left: 30px;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .navbar .item img {
    padding: 30px;
  }
}

.right-logo {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .right-logo {
    padding-right: 37px;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .right-logo {
    display: none;
  }
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  gap: 20px;
  list-style: none;
}
@media screen and (max-width: 1020px) and (min-width: 375px) {
  .list-item {
    display: none;
  }
}

.next {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .next {
    padding: 31px;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .next {
    padding: 30px;
    flex-wrap: wrap;
  }
}
.next .btn {
  margin-top: 32px;
  gap: 12px;
  display: flex;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .next .btn {
    justify-content: center;
  }
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .next .text {
    padding: 31px;
  }
}
.next .btn1, .next .btn2 {
  padding: 16px 24px;
  border: none;
  cursor: pointer;
  width: 138px;
  height: 56px;
  align-items: center;
  background-color: #7c3aed;
  border-radius: 8px;
  color: #ffffff;
}
.next .btn2 {
  width: 174px;
  height: 56px;
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  color: #374151;
}
.next h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 72px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .next h1 {
    font-size: 48px;
    line-height: 60px;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .next h1 {
    font-size: 36px;
    line-height: 52px;
  }
}
.next p {
  margin-top: 16px;
  color: #374151;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .next p {
    margin-top: 0px;
  }
}
.next .image {
  margin-top: 96px;
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .next .image {
    margin-top: 30px;
  }
}

.heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 96px;
  text-align: center;
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .heading {
    margin-top: 33px;
    padding: 31px;
  }
}
.heading h1 {
  font-weight: 700;
  font-size: 48px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .heading h1 {
    font-size: 36px;
  }
}
.heading p {
  margin-top: 8px;
  color: #374151;
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .heading p {
    padding: 18px;
  }
}

.pargraphs {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 96px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .pargraphs {
    gap: 0px;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .pargraphs {
    justify-content: center;
    padding: 13px;
  }
}
.pargraphs img {
  width: 32px;
  height: 32px;
}
.pargraphs .box {
  max-width: 305px;
  width: 100%;
}
.pargraphs .box h1 {
  color: #111827;
  font-size: 30px;
  margin-top: 24px;
}
.pargraphs .box p {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #374151;
}

.container-center, .icon {
  display: flex;
  flex-wrap: wrap;
  background-color: #d5fafc;
}

@media screen and (max-width: 786px) and (min-width: 375px) {
  .icon {
    width: 312px;
  }
}
.icon img {
  margin-top: 44px;
  display: flex;
  width: 142px;
  height: 116px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .icon img {
    padding-left: 25px;
  }
}

.real {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
  width: 487px;
  margin-left: 93px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .real {
    max-width: 650px;
    width: 100%;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .real {
    text-align: center;
    padding: 24px;
    margin-left: 0px;
    width: 100%;
  }
}
.real h1 {
  display: flex;
  flex-wrap: wrap;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.025em;
  color: #111827;
  margin-top: -60px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .real h1 {
    font-size: 36px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .real h1 {
    font-size: 36px;
  }
}
.real .real p {
  font-size: 18px;
  line-height: 28px;
}

.cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: -68px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .cards {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0px;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .cards {
    justify-content: space-around;
    padding: 19px;
  }
}
.cards .boxe1, .cards .boxe3, .cards .boxe2 {
  padding: 22px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1), 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
  border-radius: 8px;
  width: 447px;
  height: 304px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .cards .boxe1, .cards .boxe3, .cards .boxe2 {
    margin-top: 81px;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .cards .boxe1, .cards .boxe3, .cards .boxe2 {
    margin-top: 88px;
    width: 331px;
    height: 387px;
  }
}
.cards .mark, .cards .boxe3 .mark2, .boxe3 .cards .mark2, .cards .boxe2 .mark1, .boxe2 .cards .mark1 {
  width: 16px;
  height: 13px;
  display: flex;
  position: absolute;
  top: 87px;
}

.boxe2 {
  width: 425px;
  height: 351px;
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .boxe2 {
    width: 336px;
    height: 370px;
  }
}
.boxe2 .mark1 {
  position: relative;
  top: 33px;
  left: 1px;
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .boxe2 .boxe2 p {
    width: 336px;
    height: 295px;
  }
}

.boxe3 {
  bottom: 54px;
  width: 384px;
  height: 256px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .boxe3 {
    width: 500px;
    height: 261px;
  }
}
.boxe3 .mark2 {
  top: 40px;
  position: relative;
}
.hubs {
  width: 112px;
  height: 32px;
}

.twobox {
  gap: 93px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .twobox {
    gap: 0px;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .twobox {
    padding: 12px;
    align-items: center;
  }
}

.container-third {
  margin: 0 auto;
  background-color: #1db5be;
}
.container-third .secondleft {
  display: flex;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .container-third .secondleft {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .container-third .secondleft {
    flex-wrap: wrap;
    margin-top: 55px;
  }
}
.container-third .secondleft .textsecond {
  margin-top: 129px;
  flex-direction: column;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .container-third .secondleft .textsecond {
    margin-top: 80px;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .container-third .secondleft .textsecond {
    margin-top: 30px;
    padding: 30px;
  }
}
.container-third .secondleft .textsecond h1 {
  font-size: 25px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .container-third .secondleft .textsecond h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
}
.container-third .secondleft .textsecond p {
  margin-top: 12px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .container-third .secondleft .textsecond p {
    padding: 12px;
    text-align: center;
    font-size: 18px;
    display: flex;
    padding: 12px;
    margin-top: 8px;
    line-height: 30px;
  }
}
.container-third .btn-section {
  font-size: 18px;
  line-height: 60px;
  margin-top: 48px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .container-third .btn-section {
    gap: 10px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .container-third .btn-section {
    display: flex;
    justify-content: center;
  }
}

.btn3 {
  background: none;
  border: none;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .btn3 {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .btn3 {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
}

.secondimge {
  display: flex;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .secondimge {
    width: 870px;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .secondimge {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.secondimge #img2 {
  margin-top: 224px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .secondimge #img2 {
    margin-top: 0px;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .secondimge #img2 {
    margin-top: 9px;
  }
}

.Tools {
  display: flex;
  flex-wrap: wrap;
  margin-top: 81px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .Tools {
    justify-content: center;
    margin-top: 0px;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .Tools {
    justify-content: center;
  }
}
.Tools .easy {
  max-width: 449px;
  margin-bottom: 44px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .Tools .easy {
    max-width: 328px;
    margin-top: 81px;
  }
}
.Tools .easy h1 {
  height: 120px;
  font-size: 48px;
  line-height: 60px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .Tools .easy h1 {
    height: 99px;
    font-size: 31px;
    line-height: 45px;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .Tools .easy h1 {
    font-size: 26px;
    padding: 15px;
    height: 60px;
  }
}
.Tools p {
  font-size: 18px;
  line-height: 28px;
  color: #111827;
  padding: 17px;
}

.logos {
  margin-bottom: 124px;
  padding: 15px;
  border-bottom-right-radius: 190px;
  border-bottom-left-radius: 190px;
  margin-left: 138px;
  background-color: #ede9fe;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .logos {
    margin-left: 0px;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .logos {
    margin-bottom: 0px;
    margin-left: 0px;
  }
}
.logos .row1, .logos .row2 {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 33px;
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .logos .row1, .logos .row2 {
    gap: 0px;
  }
}
.logos .row2 {
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .logos .row2 {
    gap: 0px;
  }
}
.least {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .least {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .least {
    flex-wrap: wrap;
  }
}
.least .years {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .least .years {
    align-items: center;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .least .years {
    text-align: center;
    padding: 15px;
  }
}
.least .years h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.025em;
  color: #111827;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .least .years h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .least .years h1 {
    font-size: 26px;
  }
}
.least .years p {
  font-size: 16px;
  line-height: 28px;
  color: #111827;
}

.lines {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  margin-top: 33px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .lines {
    margin-top: 33px;
    margin-bottom: 20px;
  }
}
.lines .one {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .lines .one .phase {
    width: 266px;
  }
}
.lines .two {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .lines .two .phase {
    width: 266px;
  }
}

.container-footer {
  background-color: black;
}

.end {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .end {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .end {
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
  }
}
.end .link1 {
  color: #ffffff;
}
.end .link1 ul {
  margin-top: 24px;
}
.end .link2 {
  color: #ffffff;
}
.end .link2 ul {
  font-size: 16px;
  margin-top: 12px;
}
.end .link3 p {
  margin-top: 24px;
  color: #ffffff;
  margin-bottom: 64px;
}
.end .links-footer {
  color: #ffffff;
  margin-top: 64px;
}
.end .links-footer h1 {
  font-size: 18px;
  margin-bottom: 16px;
  color: #ffffff;
}
.end .liks-img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
}

.list {
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 64px;
  border: 1px solid #e5e7eb;
  -ms-writing-mode: lr-tb;
      writing-mode: horizontal-tb;
  margin-top: 16px;
  padding: 25px;
}
@media screen and (max-width: 1020px) and (min-width: 786px) {
  .list {
    flex-wrap: wrap;
    gap: 26px;
  }
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .list {
    gap: 40px;
  }
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}
@media screen and (max-width: 786px) and (min-width: 375px) {
  .container {
    max-width: 500px;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */